.burger{
  display: none;
}

@media (max-width: 768px) {
  .header__title_dublicate{
    text-align: center;
  }
  .burger{
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 201;
    &_active{
      .burger__line{
        background-color: transparent;
        transition: 2s;
        &::before{
          transform: rotate(-45deg);
          top: 0;
          transition: 2s;
        }
        &::after{
          transform: rotate(45deg);
          top: 0;
          transition: 2s;
        }

      }
    }
    &__line{
      width: 100%;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: red;
      transform: translateY(-50%);
      transition: 2s;
      &::before{
        content: '';
        width: 40px;
        height: 3px;
        position: absolute;
        top: -9px;
        left: 0;
        background-color: red;
        transition: 2s;
      }
      &::after{
        content: '';
        width: 40px;
        height: 3px;
        position: absolute;
        top: 9px;
        left: 0;
        background-color: red;
        transition: 2s;
      }
    }
  }

  .header__nav{
    justify-content: center;
  }
  .header__nav{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 50px;
    right: -50vw;
    z-index: 100;
    background-color: skyblue;
    flex-direction: column;
    align-items: center;
    transition: 3s;
    row-gap: 30px;
    opacity: 0;
    .header__menu{
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
      order: 1;
    }
    &_active{
      transform: translateX(-100%);
      transition: 3s;
      opacity: 100%;
    }
  }
}