$roboto : Roboto, sans-serif;
$liberation : Liberation Serif, sans-serif;

@mixin text($ff, $fs, $fw, $fz, $lh){
  font-family: $ff;
  font-style: $fs;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}